/* media queries */

@media(max-width: 992px) {
  #main-content {
    width: 100%;
  }

  #sidebar {
    padding: 28px 20px;
    /* width: 100%; */
    margin-left: 0;
  }

  #h2-bottom-border {
    width: 70%;
  }
}

@media(max-width: 767px) {
  #main-content {
    margin-bottom: 30px;
  }

  nav h1 {
    font-size: 2.4rem;
  }

  nav ul li {
    font-size: 1.6rem;
  }
}

@media(max-width: 575px) {
  /* nav h1 {
    width: 100%;
  } */
}