/* Global Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url('../images/subtle_white_mini_waves.png');
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,h2,h3 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif; 
  margin: 0;
  font-size: 3.2rem;
}

p, form {
  font-size: 1.6rem;
}

a {
  color: #777777;
}

a:hover {
  color: rgb(54, 54, 54)
}

.container {
  padding: 0;
}

#content {
  min-height: calc(100vh - 60px);
  padding-bottom: 4rem;
}

/* Navbar */

.navbar {
  padding: 0;
  font-size: 2rem;
}

nav {
  border-bottom: solid .2rem #ccc;
  margin-bottom: 4rem;
}

nav h1 {
  background: #4aaaa5;
  color: white;
  padding: 2.5rem 3.0rem;
}

nav ul li {
  padding: 0 1rem;
}

nav ul li:first-child {
  padding-left: 0;
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-left: 1rem;
  padding-right: 0;
}

.li-border {
  border-right: solid .1rem #ddd;
  border-left: solid .1rem #ddd;
}

/* Main Content */

#main-content {
  border: solid 1.rem #ddd;
  line-height: 3.5rem;;
  padding: 4rem 2.8rem;
  width: 95%;
}

#main-content h1 {
  border-bottom: solid .2rem #ddd;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

#profile-pic {
  float: left;
  height: 20rem;
  margin-right: 2rem;
  width: 20rem;
}

/* Sidebar */

#sidebar {
  padding: 2.8rem;
  border: solid .1rem #ddd;
  margin-left: 5%;
}

#h2-bottom-border {
  height: .2rem;
  background-color: #ddd;
  width: 85%;
  margin: 2.5rem auto;
}

#sidebar h2 {
  font-size: 2.4rem;
  text-align: center;
}

#social-image-container {
  display: table;
  margin: 0 auto;
}

#social-image-container ul li {
  display: inline;
  margin-right: 1.2rem;
}

#social-image-container ul li:last-child {
  margin-right: 0;
}

/* footer */

footer {
  background-color: #666;
  border-top: solid .5rem #4aaaa5;
  color: rgb(182, 182, 182);
  height: 6rem;
  padding: 2.5rem 0;
  text-align: center;
}